patient/generated_medical_records/*
patient/biometric/buffer/*
patient/agentic_monitor_logs/*

# Python cache directories
__pycache__/
*.py[cod]
*$py.class

# Python compiled files
*.pyc
*.pyo
*.pyd

# Environment settings
.env

output/

# Crew Knowledge handling
crew/**/*/db/

